:root {
    --both-light: #fcfaee;
    --both-yellow: #f9d826;
    --both-hover: #977d12;
    --both-black: #2f2605;
    --super-margin: 119px;
  }

body { 
	background-color: var(--both-yellow); 
	color: var(--both-black);
	font-family: geomanistregular;
}

h1 {
    font-weight: 700;
}

p {
    font-size: 1.7em;
    font-weight: 300;
}

b {
    font-weight: 600;
} 

li {
    font-size: 1.7em;
    font-weight: 600;
}

a {
	color: var(--both-black);
}

a:hover {
	color: var(--both-hover);
}

.hero p.small, p.small {
    font-size: 1.2em;
    font-weight: 400;
}

.btn-primary {
	background-color: var(--both-yellow);
	color: var(--both-black);
	border-color: var(--both-yellow);
}

.btn-primary:hover {
	background-color: var(--both-yellow);
	color: var(--both-black);
	border-color: var(--both-yellow);
}

.logo {
    background-color: var(--both-black);
    color: var(--both-yellow);
    font-size: 1.5em;
    font-weight: 600;
    padding: 28px 8px 8px 8px;
    width: 80px;
}

.hero p {
    font-weight: 500;
}

.darkbg {
    background-color: var(--both-black);
    color: var(--both-yellow);
}

.lightbg {
    background-color: var(--both-light);
    color: var(--both-black);
}

.mt-super {
	margin-top: var(--super-margin);
}

.mb-super {
	margin-bottom: var(--super-margin);
}

/* fonts */

@font-face {
font-family: "geomanistregular";
font-weight: 100;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-thin-webfont.woff2') format('woff2')
}
@font-face {
font-family: "geomanistregular";
font-weight: 200;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-extralight-webfont.woff2') format('woff2')
}
@font-face {
font-family: "geomanistregular";
font-weight: 300;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-light-webfont.woff2') format('woff2')
}
@font-face {
font-family: "geomanistregular";
font-weight: 400;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-regular-webfont.woff2') format('woff2')
}
@font-face {
font-family: "geomanistregular";
font-weight: 500;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-book-webfont.woff2') format('woff2')
}
@font-face {
font-family: "geomanistregular";
font-weight: 600;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-medium-webfont.woff2') format('woff2')
}
@font-face {
font-family: "geomanistregular";
font-weight: 700;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-bold-webfont.woff2') format('woff2')
}

@font-face {
font-family: "geomanistregular";
font-weight: 800;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-black-webfont.woff2') format('woff2')
}
@font-face {
font-family: "geomanistregular";
font-weight: 900;
font-style: normal;
font-display: swap;
src: url('./fonts/geomanist-ultra-webfont.woff2') format('woff2')
}

@font-face {
font-family: "geomanistregular";
font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
font-style: italic;
font-display: swap;
src: url('./fonts/geomanist-regular-italic-webfont.woff2') format('woff2');
} 