---
title: Home
description: Both es una escuela y un laboratorio. Un punto de encuentro entre tecnología y humanismo.
thumbnail: /assets/favicon/apple-touch-icon.png

layout: default
header: header-home.html
footer: footer-home.html

stylesheet: /assets/css/index.css
---
<!-- OPENING-->
<div class="container">
    <div class="row justify-content-center mb-super mt-super">
        <div class="col-10 col-md-5 order-md-2 my-auto">
            <img class="w-100" src="assets/img/escuela.png" alt="escuela y laboratorio">
        </div>
        <div class="col-10 d-md-none mt-super-half">
        </div>
        <div class="col-10 col-md-5 order-md-1">
            <h1>
                {{ page.description }}
            </h1>
        </div>
    </div>
</div>

<!-- OBJETIVO -->
<div class="background-both-black text-both-yellow">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 mt-super mb-super">
                <p>El objetivo de Both es <b>crear un espacio</b> donde las profesionales de la tecnología, junto con
                    las empresas e instituciones, <b>experimenten e impulsen</b> proyectos en beneficio de todas,
                    <b>compartiendo resultados y artefactos, pensando y haciendo.</b>
                </p>
                <p>Queremos ser una comunidad de <b>exploradoras que aprendan, investiguen, y compartan sus
                        descubrimientos</b> acerca de la tecnología que creará un futuro más justo y más diverso.
                    <!-- Gente humilde colaborando en el ambicioso proyecto de redefinir la relación entre máquinas y sociedad. -->
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <!-- APRENDE -->
    <div class="row justify-content-center mt-super">
        <div class="col-10">
            <img src="assets/img/aprende.png" class="col-6 col-md-5 col-lg-4" alt="aprende">
            <p class="small">
                <b>Fórmate en nuestra escuela.</b> Trataremos temas como tecnologías futuras y nuevos interfaces;
                algoritmos, sesgos y cajas negras;
                la relación entre tecnología, negocio y ética; nuevos modelos de cultura y liderazgo; nuevas filosofías
                de desarrollo.
            </p>
        </div>
    </div>
    <!-- INVESTIGA -->
    <div class="row mt-super-half justify-content-center">
        <div class="col-10">
            <img src="assets/img/investiga.png" class="col-6 col-md-5 col-lg-4" alt="investiga">
            <p class="small">
                <b>Explora nuevas ideas en el laboratorio</b>, profundizando en la relación entre tecnología y
                humanismo. Trae tus propios temas o súmate a los nuestros. Nosotros te proporcionaremos el espacio y los
                medios para desarrollar el conocimiento y documentar los procesos.
            </p>
        </div>
    </div>
    <!-- COMPARTE -->
    <div class="row mt-super-half justify-content-center">
        <div class="col-10">
            <img src="assets/img/comparte.png" class="col-6 col-md-5 col-lg-4" alt="comparte">
            <p class="small">
                <b>Comunica el conocimiento generado.</b>
                Compartiendo y debatiendo los descubrimientos,
                ideas y conclusiones creamos comunidad y mejoramos la sociedad.
            </p>
        </div>
    </div>
</div>

<!-- EVENTOS -->
<div class="container">
    <div class="row justify-content-center mt-super">
        <div class="col-10">
            <h1>Eventos</h1>
            <div class="row">
                {% for evento in site.eventos reversed %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-2">
                    <div class="card text-both-yellow background-both-black h-100">
                        <div class="card-header">
                            {{evento.event_date | date: "%d/%m/%Y"}}
                        </div>
                        <img src="{{ evento.thumbnail }}" class="w-100 card-img-top" alt="{{ evento.title }}">
                        <div class="card-body">
                            <h2 class="card-title">{{ evento.title }}</h2>
                            <p class="card-text">{{evento.description}}</p>
                            <p class="text-center">
                                <a href="{{ evento.url }}.html" class="stretched-link btn btn-primary">Ir al evento</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- PROYECTOS -->
<div class="container">
    <div class="row justify-content-center mt-super">
        <div class="col-10">
            <h1>Proyectos</h1>
            <div class="row">
                {% for proyecto in site.proyectos reversed %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-2">
                    <div class="card text-both-yellow background-both-black h-100">
                        {% include_relative {{proyecto.thumbnail}} %}
                        <div class="card-body">
                            <h2>{{ proyecto.title }}</h2>
                            <p class="card-text">
                                {{proyecto.description}}
                            </p>
                            <p class="text-center">
                                <a href="{{ proyecto.url }}.html" class="stretched-link btn btn-primary">Ir al
                                    proyecto</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="background-both-black text-both-yellow">
    <div class="container">
        <!-- NACE -->
        <div class="row justify-content-center">
            <div class="col-10 mt-super mb-super">
                <h1>Both nace para las personas</h1>
                <p class="small">La tecnología se ha vuelto imprescindible y se ha expandido, anteponiéndose a las
                    personas.
                    Nos facilita la vida pero nos aleja de una sociedad empática.
                    En <b>Both</b> buscamos explorar las consecuencias de esta brecha y crear espacios comunes entre
                    tecnología y personas.</p>
                <!-- construyendo la sociedad que queremos habitar -->
                <p class="small mb-0">Esta exploración empieza con nosotros tres:
                    <a href="http://daniseuba.com" target="_blank"><b>Dani Seuba</b></a>,
                    <a href="https://es.linkedin.com/in/enoeda" target="_blank"><b>Eduardo Noeda</b></a> y
                    <a href="http://juanalonso.es" target="_blank"><b>Juan Alonso</b></a>.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- FORM -->
<div class="container">
    <div class="row mt-super justify-content-center">
        <div class="col-10 background-both-light px-5 pt-5">
            <p class="small">
                Estamos construyendo Both<sup>*</sup>.
                Mientras terminamos de perfilar la escuela y elegimos los primeros temas para el laboratorio,
                puedes leernos en <a href="https://twitter.com/bothrocks" target="_blank" class="twitter">
                    Twitter</a> o dejarnos tu email.
            </p>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form
                    action="https://rocks.us5.list-manage.com/subscribe/post?u=c77332c5fab2dacf5d4c80d84&amp;id=742716890d"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group mb-3">
                            <label for="mce-FNAME" class="form-label">Nombre y apellidos</label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL" class="form-label">Email </label>
                            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_c77332c5fab2dacf5d4c80d84_742716890d" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> -->
                            <input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe"
                                class="btn btn-primary rounded-pill mt-4 mb-5" style="width:200px">
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="row py-3">
            <div class="offset-1 col-9">
                <sup>*</sup>Both ha llegado para domesticar al perro de Boston Dynamics. <br />
            </div>
        </div>
    </div>
</div>