---
title: Proyectos
description: Proyectos con los que queremos aprender algo.
thumbnail: /assets/favicon/apple-touch-icon.png

layout: default
header: header-common.html
footer: footer-common.html

type: Proyectos
---
<div class="container">
  <div class="row mt-super">
    {% for proyecto in site.proyectos reversed %}
    <div class="col-12 col-lg-6 mb-2">
      <div class="card text-both-black background-both-yellow h-100 border-both-black">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h2 class="bold">{{ proyecto.title }}</h2>
              <p class="card-text">{{proyecto.summary}}</p>
            </div>
            <div class="col-3">
              {% include_relative {{proyecto.thumbnail}} %}
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <a href="{{ proyecto.url }}.html" class="stretched-link btn btn-dark">Lanzar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
