<p class="d-block d-sm-none">Extra small</p>
<p class="d-none d-sm-block d-md-none">Small</p>
<p class="d-none d-md-block d-lg-none">Medium</p>
<p class="d-none d-lg-block d-xl-none">Large</p>
<p class="d-none d-xl-block">Extra large</p>     
<div class="row">
    <div class="col-1 darkbg">1</div>
    <div class="col-1 lightbg">2</div>
    <div class="col-1 darkbg">3</div>
    <div class="col-1 lightbg">4</div>
    <div class="col-1 darkbg">5</div>
    <div class="col-1 lightbg">6</div>
    <div class="col-1 darkbg">7</div>
    <div class="col-1 lightbg">8</div>
    <div class="col-1 darkbg">9</div>
    <div class="col-1 lightbg">10</div>
    <div class="col-1 darkbg">11</div>
    <div class="col-1 lightbg">12</div>
</div> 