<p class="d-block d-sm-none">Extra small</p>
<p class="d-none d-sm-block d-md-none">Small</p>
<p class="d-none d-md-block d-lg-none">Medium</p>
<p class="d-none d-lg-block d-xl-none">Large</p>
<p class="d-none d-xl-block">Extra large</p>     
<div class="row">
    <div class="col-1 background-both-black text-both-yellow">1</div>
    <div class="col-1 background-both-light text-both-black">2</div>
    <div class="col-1 background-both-black text-both-yellow">3</div>
    <div class="col-1 background-both-light text-both-black">4</div>
    <div class="col-1 background-both-black text-both-yellow">5</div>
    <div class="col-1 background-both-light text-both-black">6</div>
    <div class="col-1 background-both-black text-both-yellow">7</div>
    <div class="col-1 background-both-light text-both-black">8</div>
    <div class="col-1 background-both-black text-both-yellow">9</div>
    <div class="col-1 background-both-light text-both-black">10</div>
    <div class="col-1 background-both-black text-both-yellow">11</div>
    <div class="col-1 background-both-light text-both-black">12</div>
</div> 