<div class="background-both-black text-both-yellow mt-super-half">
    <div class="container ">
        <div class="row">
            <div class="col-12 mt-super-half mb-super-half">
                <h1>Sigue la conversación en <a href="https://twitter.com/bothrocks" class="text-both-yellow"><i
                            class="bi bi-twitter me-2"
                            style="font-size: 2rem; color:var(--both-yellow);"></i>Twitter</a> con el hastag
                    <a href="https://twitter.com/hashtag/maquinito?src=hashtag_click&f=live"
                        class="text-both-yellow">#maquinito</a>.
                </h1>
                <p>Comparte tus preguntas, descubrimientos e ideas sobre 
                    Computer Vision. Y si has encontrado algo curioso usando los 
                    proyectos, publica un pantallazo o un vídeo.</p>
            </div>
        </div>
    </div>
</div>