<!-- BANNER curso fundamentos -->
<!--
<div class="row bg-white">    
    <div class="pt-3 pb-3 text-center">
        <b>El 14 de diciembre tenemos el próximo curso presencial en Madrid. <a target="_blank" href="https://lanavenodriza.com/ia-generativa-fundamentos">Aquí toda la info</a> 
    </div>    
</div>
-->

<!-- LOGO -->
<div class="container">
    <div class="row">
        <div class="col-4 offset-1">
            <a href="/">
                <img src="/assets/img/logo-2.png" class="mt-5 img-fluid" alt="Logo de Both">
            </a>
        </div>
    </div>
</div>