<!-- BANNER curso fundamentos -->
<div class="row">
    <div class="container pt-3 pb-3 pl-3 pr-3 bg-white text-both-black">
        <div class="container justify-content-center">
            <b> ¡Próximo curso!</b> Lanzamos junto con La Nave Nodriza un curso sobre IAs generativas en Madrid y Barcelona. Más info <a href="#fundamentos">aquí</a>.
        </div>
    </div>
</div>

<!-- LOGO -->
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            {% include navigation-home.html %}
        </div>
    </div>
</div>