<!-- BANNER curso fundamentos -->
<div class="row bg-white">    
    <div class="pt-3 pb-3 text-center">
        <b>¡Último maquinito del curso!</b> El martes 4 de julio es el último maquinito antes de las vacaciones. Será más una fiesta que un taller. <a target="_blank" href="https://www.eventbrite.es/e/entradas-maquinito-prompt-battle-668642737427">¡Os esperamos!</a>
    </div>    
</div>

<!-- LOGO -->
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            {% include navigation-home.html %}
        </div>
    </div>
</div>