<!-- BANNER curso fundamentos -->
<div class="row bg-white">    
    <div class="pt-3 pb-3 text-center">
        <b>¡Próximo curso!</b> Lanzamos junto con La Nave Nodriza un curso sobre IAs generativas en Madrid y Barcelona. Más info <a href="#fundamentos">aquí</a>.
    </div>    
</div>

<!-- LOGO -->
<div class="background-both-black text-both-yellow">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include navigation-common.html %}
            </div>
        </div>
    </div>
</div>