<nav class="navbar">
    <div class="container-fluid">
        <a href="/">
            <img src="/assets/img/logo-125.png" class="img-logo" alt="Logo de Both">
        </a>
        <!--
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            style="margin-top: -60px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto mb-2 mt-2">
                <a class="nav-link text-end h1 text-both-black" href="/">Home</a>
                <a class="nav-link text-end h1 text-both-black" href="/eventos/maquinito-gafotas.html">Eventos</a>
                <a class="nav-link text-end h1 text-both-black" href="/proyectos.html">Proyectos</a>
                <a class="nav-link text-end h1 text-both-black" href="https://twitter.com/bothrocks">Twitter</a>
            </div>
        </div>
        -->
    </div>
</nav>