:root {
    --both-light: #fcfaee;
    --both-yellow: #f9d826;
    --both-hover: #977d12;
    --both-black: #2f2605;
    --both-accent-1-light:#d902a5;
    --both-accent-1-dark:#8c086d;
    --both-accent-2-light:#182ad9;
    --both-accent-2-dark:#000d8c;
    --lanave-rosa:#E2007A;
    --super-margin: 80px;
  }

body { 
	background-color: var(--both-yellow); 
	color: var(--both-black);
	font-family: geomanistregular;
    line-height: 1.3;
}

a, a:hover {
    color: var(--both-black);
}

b, strong, .strong {
    font-weight: 600;
}

h1, .h1 {
    font-size: calc(1rem + 1.5vw);
    font-weight: 700;
    line-height: 1.3;
}

h2.bold{
    font-weight: 600;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-weight: 600;
}

span.navbar-brand {
    font-weight: 400;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.125rem var(--both-black);
}

.background-both-black .navbar-toggler:focus {
    box-shadow: 0 0 0 0.125rem var(--both-yellow);
}

nav div.container-fluid {
    padding-left: 0;
}

.nav-link{
    padding-top: 0;
    padding-bottom: 0;
}

.fs-125rem {
    font-size: 1.25rem;;
}

.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2847, 38, 5, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M3 7h24M3 14h24M3 21h24'/%3e%3c/svg%3e")
} 

.text-both-yellow.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28249, 216, 38, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M3 7h24M3 14h24M3 21h24'/%3e%3c/svg%3e")
} 

.background-both-black a.nav-link,.background-both-black  a.nav-link:hover{
    color: var(--both-yellow);
}

.img-logo{
    width: 125px;
}

.background-both-black {
    background-color: var(--both-black) !important;
}
.background-both-light {
    background-color: var(--both-light);
}
.background-both-yellow {
    background-color: var(--both-yellow);
}

.border-both-black {
    border-color: var(--both-black) !important;
    border-width: 0.75px;
}
.border-both-light {
    border-color: var(--both-light) !important;
    border-width: 0.75px;
}
.border-both-yellow {
    border-color: var(--both-yellow) !important;
    border-width: 0.75px;
}

.text-both-black {
    color: var(--both-black) !important;
}
.text-both-light {
    color: var(--both-light) !important;
}
.text-both-yellow {
    color: var(--both-yellow) !important;
}

.btn-primary, .btn-primary:hover {
	background-color: var(--both-yellow);
	color: var(--both-black);
	border-color: var(--both-yellow);
}

.btn-dark, .btn-dark:hover {
	background-color: var(--both-black);
	color: var(--both-yellow);
	border-color: var(--both-black);
}

.btn-accent-1 {
	background-color: var(--both-accent-1-dark);
	color: var(--both-yellow);
	border-color: var(--both-accent-1-dark);
    font-weight: 500;
}

.btn-accent-1:hover {
	background-color: var(--both-accent-1-light);
	color: var(--both-yellow);

}

.btn-accent-2 {
	background-color: var(--both-accent-2-dark);
	color: var(--both-yellow);
	border-color: var(--both-accent-2-dark);
    font-weight: 500;
}

.btn-accent-2:hover {
	background-color: var(--both-accent-2-light);
	color: var(--both-yellow);

}



.mt-super {
	margin-top: var(--super-margin);
}

.mb-super {
	margin-bottom: var(--super-margin);
}

.mt-super-half {
	margin-top: calc(var(--super-margin)/1.75);
}

.mb-super-half {
	margin-bottom: calc(var(--super-margin)/1.75);
}

p.card-text{
    font-size: 1rem;
}

div.card-body>p:last-child {
    margin-bottom: 0;
}

.card-hover:hover{
    box-shadow:.25rem .25rem .5rem rgba(0,0,0,.25)!important
}

.card-footer{
    background: none;
    border-top: none;
}

.card-header{
    background: none;
    border-bottom: none;
}

.badge{
    font-weight: 400;
}

/* fonts */
@font-face {
    font-family: "geomanistregular";
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-thin-webfont.woff2') format('woff2')
}
@font-face {
    font-family: "geomanistregular";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-extralight-webfont.woff2') format('woff2')
}
@font-face {
    font-family: "geomanistregular";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-light-webfont.woff2') format('woff2')
}
@font-face {
    font-family: "geomanistregular";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-regular-webfont.woff2') format('woff2')
}
@font-face {
    font-family: "geomanistregular";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-book-webfont.woff2') format('woff2')
}
@font-face {
    font-family: "geomanistregular";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-medium-webfont.woff2') format('woff2')
}
@font-face {
    font-family: "geomanistregular";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-bold-webfont.woff2') format('woff2')
}
@font-face {
    font-family: "geomanistregular";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-black-webfont.woff2') format('woff2')
}
@font-face {
    font-family: "geomanistregular";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/geomanist-ultra-webfont.woff2') format('woff2')
}
    