

/* p.small {
    font-size: calc(0.8rem + 1.5vw);
    font-weight: 400;
}

p.smaller {
    font-size: calc(0.7rem + 1.5vw);
    font-weight: 250;
    color: var(--both-yellow);
}
*/

/*
li {
    font-size: calc(0.8rem + 1.5vw);
    font-weight: 300;
}
*/

