.progress{
    height: 16px;
    font-size: .7rem;
}

.progress-bar {
    transition: width .2s ease;
}

h1, .h1 {
    font-weight: 600;
}

h2#class_label {
    margin-bottom: 0;
    font-weight: 500;
}
.h2, h2 {
    font-size: calc(1.125rem + .9vw);
}

.h5, h5 {
    font-size: 1.1rem;
    font-weight: 300;
}

h6, .h6 {
    margin-bottom: .1rem;
    font-size: 0.9rem;
    font-weight: 400;
}

h6.score{
    margin-bottom: -0.25rem;
    font-size: 1rem;
}

.lightbg {
    background-color: #f1db77;
    color: var(--both-black);
}

.btn.disabled {
    opacity: .35;
}
