---
title: Maquinito Gafotas
description: >-
  ¿Cómo podemos «ver» mejor usando la tecnología? <br>
  Una primera exploración sobre los «sí», los «no» y los «no sé, no sé» de Computer Vision
thumbnail: /assets/thumbs/evento-maquinito-gafotas.png
event_date: 2021-12-01
event_time: '18:00'
event_mode: Online
badge: Computer vision
summary: >-
  When, while the lovely valley teems with vapour around me, 
  and the meridian sun strikes the upper surface of the 
  impenetrable foliage of my trees, and but a few stray 
  gleams steal into the inner sanctuary, I throw myself down 
  among the tall grass by the trickling stream; and, as I 
  lie close to the earth, a thousand unknown plants are 
  noticed by me: when I hear the buzz of the little world 
  among the stalks, and grow familiar with the countless 
  indescribable forms of the insects and flies, then I feel 
  the presence of the Almighty, who formed us in his own 
  image, and the breath.
  
layout: event
type: Eventos
---
<div class="container mt-super-half">
    <div class="row">
        <div class="col-12">
            <img src="{{page.thumbnail}}" alt="{{page.title}}" width="100px">
        </div>
        <div class="col-8">
            <h1>{{page.title}}</h1>
            <h4>{{page.description}}</h4>
            <span class="badge rounded-pill background-both-black text-both-yellow">{{ page.badge }}</span>
        </div>
        <div class="col-4">
            <h4 class="text-end">{{page.event_date | date: "%d/%m/%Y"}}, {{page.event_time}}</h4>
            <h4 class="text-end">Evento {{page.event_mode}}</h4>
            <a href="https://www.eventbrite.es/e/entradas-maquinito-gafotas-computer-vision-209215066897" class="btn btn-dark float-end">Reserva tu entrada</a>
        </div>
    </div>
</div>

<div class="background-both-black text-both-yellow mt-super-half">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-super-half mb-super-half">
                <p>¿Por qué «Maquinito Gafotas»?</p>
                <p>
                    Un niño/a de 8 años es capaz de hacer un montón de cosas (ya
                    lee con soltura, utiliza oraciones subordinadas, es capaz de 
                    razonar y conceptualizar, hace las primeras operaciones 
                    matemáticas) pero aún necesita guía, no es autónomo y no 
                    puede realizar operaciones complejas: necesita mucho más 
                    contexto, aprender...
                </p>
                <p>
                    Nosotros tendemos a pensar que la inteligencia artificial ya 
                    resuelve todos los problemas y en realidad es como un niño, 
                    capaz de procesar mucha información, pero que a veces no 
                    sabe cómo contestar y responde lo primero que se le ocurre.
                </p>
                <p>
                    Ahora ¿a dónde puede y debe llegar? ¿Cómo aprovechamos las 
                    oportunidades de la Computer Vision para comprender mejor el 
                    entorno que nos rodea? Junto a Nerea, Martín y Juan 
                    exploraremos ideas y entenderemos las barreras para animaros 
                    a explorar vuestras ideas. Nosotras ya hemos empezado con 
                    algunas que podéis ver en nuestra web pero os invitamos a 
                    contarnos las vuestras en Twitter.
                </p>
                <p class="mb-0">
                    El precio del evento es de 5€ pero siendo nuestro 
                    lanzamiento queremos veros a todas debatiendo con nosotras. 
                    Usad el código <span class="badge rounded-pill background-both-yellow text-both-black">yosoymaquinitogafotas</span> 
                    y el registro os saldrá gratis.</p>
                
            </div>
        </div>
    </div>
</div>

<div class="container mt-super-half">
    <div class="row">
        <h1>Ponentes</h1>
        <div class="col-12 col-lg-6 mb-4">
            <div class="card text-both-black background-both-yellow h-100 border-both-black">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="fw-bolder">Nerea Luis Mingueza</h2>
                        </div>
                        <div class="col-9">
                            <p class="card-text">Doctora en Inteligencia
                                Artificial. Coordino proyectos de Machine
                                Learning en Sngular. Cofundé el evento T3chFest
                                y desde entonces hago divulgación para acercar
                                la IA y la robótica a las personas.
                            </p>
                        </div>
                        <div class="col-3">
                            <img alt="Foto de Nerea" src="/assets/thumbs/ponente-nerea.jpg" class="w-100 mb-1 rounded">
                            <a href="https://twitter.com/sailormerqury" class="me-1"><i class="bi bi-twitter"
                                    style="font-size: 1rem;"></i></a>
                            <a href="https://nerealuis.es/" class="me-1"><i class="bi bi-house-fill"
                                    style="font-size: 1rem;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
            <div class="card text-both-black background-both-yellow h-100 border-both-black">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="fw-bolder">Martin "Txo!?" Etxauri</h2>

                        </div>
                        <div class="col-9">
                            <p class="card-text">Presunto artista e investigador (en la barricada del
                                doctorando), trabajo con eso que dicen New Media para pensar
                                lo tecnológico con una mirada crítica y oblicua. Al final,
                                siempre meto la naturaleza por medio. Tengo una vida
                                anterior donde diseñaba mucho, ilustraba algo, escribía
                                chorros de HTML/CSS y fundaba alguna revista molona y una
                                empresa de comunicación. Mi cerebro reptiliano es de video
                                jockey.
                            </p>
                        </div>
                        <div class="col-3">
                            <img alt="Foto de Martin" src="/assets/thumbs/ponente-txo.jpg" class="w-100 mb-1 rounded">
                            <a href="https://twitter.com/txo_elurmaluta" class="me-1"><i class="bi bi-twitter"
                                    style="font-size: 1rem;"></i></a>
                            <a href="https://vimeo.com/elurmaluta" class="me-1"><i class="bi bi-vimeo"
                                    style="font-size: 1rem;"></i></a>
                            <a href="https://elurmaluta.net" class="me-1"><i class="bi bi-house-fill"
                                    style="font-size: 1rem;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
            <div class="card text-both-black background-both-yellow h-100 border-both-black">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="fw-bolder">Juan Alonso (Kokuma)</h2>
                        </div>
                        <div class="col-9">
                            <p class="card-text">Desde crío me ha gustado ver qué pasa cuando usas una
                                herramienta para otra cosa, lo que me llevó a explorar las
                                posibilidades creativas de los ordenadores. Profesionalmente
                                he podido desarrollar esa faceta como CTO en Tecnilógica y
                                como Creative Technologist en Accenture. Actualmente trabajo
                                en Both, donde organizamos eventos como éste.
                            </p>
                        </div>
                        <div class="col-3">
                            <img alt="Foto de Juan" src="/assets/thumbs/ponente-kokuma.jpg" class="w-100 mb-1 rounded">
                            <a href="https://twitter.com/kokuma" class="me-1"><i class="bi bi-twitter"
                                    style="font-size: 1rem;"></i></a>
                            <a href="https://juanalonso.es/" class="me-1"><i class="bi bi-house-fill"
                                    style="font-size: 1rem;"></i></a>
                            <a href="https://neuronasmuertas.com/" class="me-1"><i class="bi bi-house-fill"
                                    style="font-size: 1rem;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-both-black text-both-yellow mt-super-half">
    <div class="container">
        <div class="row">
            <div class="col mt-super-half mb-super-half">
                <h1>¿Qué? ¿Cuándo? ¿Quién?</h1>
                <h4 class="mb-1">18:05 Presentación de Both</h4>
                <h6 class="mb-2">Both</h6>
                <p class="mb-5 ms-4">Tranquilidad, que prometemos ser breves,
                    muy breves. Pero siendo el primer evento que lanzamos, qué
                    menos que contar quiénes somos y cómo imaginamos nuestro
                    futuro.</p>
                <h4 class="mb-1">18:10 Introducción a la visión artificial y primeros pasos</h4>
                <h6 class="mb-2">Nerea Luis Mingueza</h6>
                <p class="mb-5 ms-4">Los algoritmos de visión artificial llevan
                    mucho tiempo con nosotros. La visión artificial clásica
                    comenzó con la aplicación de filtros a imágenes para realzar
                    colores, formas, texturas... para después parametrizar
                    aquellos rangos correspondientes a los objetos que se
                    querían detectar. Con la llegada del Deep Learning, los
                    modelos de visión artificial se han vuelto más complejos
                    pero también más generalistas. Esto significa que necesitamos
                    menos ejemplos y menos trabajo manual para reconocer una
                    amplia variedad de objetos incluso de forma simultánea. En
                    esta charla se enseñarán las claves del estado del arte de
                    la visión artificial y las herramientas y frameworks más
                    útiles para comenzar a trabajar en ello. Eso sí, se contará
                    para todos los públicos.</p>
                <h4 class="mb-1">18:45 Incertidumbre y emergencia en la mirada computacional:
                    ¿sueñan las máquinas con cruzar al otro lado del espejo?</h4>
                <h6 class="mb-2">Martin "Txo!?" Etxauri</h6>
                <p class="mb-5 ms-4">¿Ven las máquinas las cosas como son, o son como las ven?
                    ¿Qué nos revela aquello que los ordenadores sospechan ver?
                    ¿Qué mitos emergen en los límites de la visión artificial?
                    Intentaremos responder estas preguntas y probablemente no lo consigamos, pero nos harán pensar.</p>
                <h4 class="mb-1">19:20 Ilusiones ópticas para robots</h4>
                <h6 class="mb-2">Juan Alonso "Kokuma"</h6>
                <p class="mb-5 ms-4">Una ilusión óptica aparece cuando no somos
                    capaces de organizar nuestra percepción de forma coherente:
                    imágenes estáticas que se mueven, formas que surgen de la
                    nada, fondos que se convierten en figuras... Los sistemas de
                    visión artificial también sufren estas ilusiones, a veces
                    intrascendentes, a veces peligrosas, y son estas anomalías
                    las que nos permiten comprender mejor cómo ven las máquinas.</p>
                <h4 class="mb-1">19:55 Preguntas y debate</h4>
                <h6 class="mb-2">Todo el mundo</h6>
                <p class="ms-4">No prometemos tener respuestas, pero sí intentar generar
                    debate para buscar soluciones entre todas y explorar más.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-super-half">
    <div class="row ">
        <h1>Proyectos relacionados</h1>
        <div class="row">
            {% for proyecto in site.proyectos reversed %}
            <div class="col-12 col-lg-6 mb-2">
                <div class="card  card-hover text-both-black background-both-yellow h-100 border-both-black">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="fw-bolder mb-0">{{ proyecto.title }}</h2>
                                <span class="mb-2 badge rounded-pill background-both-black text-both-yellow">{{ proyecto.badge }}</span>
                            </div>
                            <div class="col-9">
                                <p class="card-text">{{proyecto.summary}}</p>
                            </div>
                            <div class="col-3">
                                {% include {{proyecto.thumbnail}} %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ proyecto.url }}" class="stretched-link btn btn-dark">Lanzar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include hashtag-maquinito.html %}