---
title: Maquinito Gafotas
description: ¿Cómo podemos «ver» mejor usando la tecnología?
thumbnail: /assets/thumbs/evento-ojos-sin-rostro.png
event_date: 2021-12-01
summary: >-
  When, while the lovely valley teems with vapour around me, 
  and the meridian sun strikes the upper surface of the 
  impenetrable foliage of my trees, and but a few stray 
  gleams steal into the inner sanctuary, I throw myself down 
  among the tall grass by the trickling stream; and, as I 
  lie close to the earth, a thousand unknown plants are 
  noticed by me: when I hear the buzz of the little world 
  among the stalks, and grow familiar with the countless 
  indescribable forms of the insects and flies, then I feel 
  the presence of the Almighty, who formed us in his own 
  image, and the breath.
  
layout: event
type: Eventos
---
<div class="container mt-super-half">
    <div class="row">
        <div class="col-6">
            <h1>{{page.title}}</h1>
            <h4>{{page.description}}</h4>
        </div>
        <div class="col-5 offset-1">
            <h4 class="text-end">{{page.event_date | date: "%d/%m/%Y"}}</h4>
            <h4 class="text-end">Evento online</h4>
            <a href="" class="btn btn-dark float-end">Reserva tu entrada</a>
        </div>
    </div>
</div>

<div class="background-both-black text-both-yellow mt-super-half">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-super-half mb-super-half">
                <!-- <h2>Descripción</h2> -->
                <p class="mb-0">{{page.summary}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-super-half">
    <div class="row">
        <h1>Ponentes</h1>
        <div class="col-12 col-lg-6 mb-2">
            <div class="card text-both-black background-both-yellow h-100 border-both-black">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h2>Nerea Luis</h2>
                            <p class="card-text">Ex vis labitur discere nonumes, postea periculis nec ei.
                                Nihil quaeque saperet vel ne, est vero etiam in. Ei pro quod
                                expetenda, no eam dicit aperiri officiis. Vocent definitiones
                                an pro, ei vix nominati oportere cotidieque, vix quis assum
                                partem ut. Ius ut ridens officiis, congue ornatus delicata no
                                usu, vel ut simul dolore dissentiunt.
                            </p>
                        </div>
                        <div class="col-3">
                            <img alt="Foto de Nerea" src="/assets/thumbs/ponente-nerea.jpg" class="w-100 mb-1 rounded">
                            <a href="{{ proyecto.url }}.html"><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a>
                            <a href="{{ proyecto.url }}.html"><i class="bi bi-linkedin" style="font-size: 1.5rem;"></i></a>
                            <a href="{{ proyecto.url }}.html"><i class="bi bi-house-fill" style="font-size: 1.5rem;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-2">
            <div class="card text-both-black background-both-yellow h-100 border-both-black">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h2>Martin "Txo!?" Etxauri</h2>
                            <p class="card-text">Presunto artista e investigador (en la barricada del
                                doctorando), trabajo con eso que dicen New Media para pensar
                                lo tecnológico con una mirada crítica y oblicua. Al final,
                                siempre meto la naturaleza por medio. Tengo una vida
                                anterior donde diseñaba mucho, ilustraba algo, escribía
                                chorros de HTML/CSS y fundaba alguna revista molona y una
                                empresa de comunicación. Mi cerebro reptiliano es de video
                                jockey.
                            </p>
                        </div>
                        <div class="col-3">
                            <img alt="Foto de Martin" src="/assets/thumbs/ponente-txo.jpg" class="w-100 mb-1 rounded">
                            <a href="https://twitter.com/txo_elurmaluta"><i class="bi bi-twitter"
                                    style="font-size: 1.5rem;"></i></a>
                            <a href="https://vimeo.com/elurmaluta"><i class="bi bi-vimeo" style="font-size: 1.5rem;"></i></a>
                            <a href="https://elurmaluta.net"><i class="bi bi-house-fill" style="font-size: 1.5rem;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-2">
            <div class="card text-both-black background-both-yellow h-100 border-both-black">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h2>Juan Alonso (Kokuma)</h2>
                            <p class="card-text">Desde crío me ha gustado ver qué pasa cuando usas una
                                herramienta para otra cosa, lo que me llevó a explorar las
                                posibilidades creativas de los ordenadores. Profesionalmente
                                he podido desarrollar esa faceta como CTO en Tecnilógica y
                                como Creative Technologist en Accenture. Actualmente trabajo
                                en Both, donde organizamos eventos como éste.
                            </p>
                        </div>
                        <div class="col-3">
                            <img alt="Foto de Juan" src="/assets/thumbs/ponente-kokuma.jpg" class="w-100 mb-1 rounded">
                            <a href="https://twitter.com/kokuma"><i class="bi bi-twitter" style="font-size: 1.5rem;"></i></a>
                            <a href="https://juanalonso.es/"><i class="bi bi-house-fill" style="font-size: 1.5rem;"></i></a>
                            <a href="http://neuronasmuertas.com/"><i class="bi bi-house-fill"
                                    style="font-size: 1.5rem;"></i></a>
                                </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="background-both-black text-both-yellow mt-super-half">
    <div class="container">
        <div class="row">
            <div class="col mt-super-half mb-super-half">
                <h1>Agenda</h1>
                <h4 class="mb-1">Presentación</h4>
                <h6 class="mb-1">Both</h6>
                <p class="mb-4">Ex vis labitur discere nonumes, postea periculis nec ei.
                    Nihil quaeque saperet vel ne, est vero etiam in. Ei pro quod
                    expetenda, no eam dicit aperiri officiis.</p>
                <h4 class="mb-1">XXXXXX</h4>
                <h6 class="mb-1">Nerea Luis</h6>
                <p class="mb-4">Vocent definitiones
                    an pro, ei vix nominati oportere cotidieque, vix quis assum
                    partem ut. Ius ut ridens officiis, congue ornatus delicata no
                    usu, vel ut simul dolore dissentiunt.</p>
                <h4 class="mb-1">Incertidumbre y emergencia en la mirada computacional:
                    ¿sueñan las máquinas con cruzar al otro lado del espejo?</h4>
                <h6 class="mb-1">Martin "Txo!?" Etxauri</h6>
                <p class="mb-4">¿Ven las máquinas las cosas como son, o son como las ven?
                    ¿Qué nos revela aquello que los ordenadores sospechan ver?
                    ¿Qué mitos emergen en los límites de la visión artificial?
                    Intentaremos responder estas preguntas y probablemente no lo consigamos, pero nos harán pensar.</p>
                <h4 class="mb-1">Ilusiones ópticas para robots</h4>
                <h6 class="mb-1">Juan Alonso "Kokuma"</h6>
                <p class="mb-4">Una ilusión óptica aparece cuando no somos 
                    capaces de organizar nuestra percepción de forma coherente:
                    imágenes estáticas que se mueven, formas que surgen de la 
                    nada, fondos que se convierten en figuras... Los sistemas de 
                    visión artificial también sufren estas ilusiones, a veces 
                    intrascendentes, a veces peligrosas, y son estas anomalías 
                    las que nos permiten comprender mejor cómo ven las máquinas.</p>
                <h4 class="mb-1">Preguntas y debate</h4>
                <p>I lie close to the earth, a thousand unknown plants are
                    noticed by me: when I hear the buzz of the little world
                    among the stalks, and grow familiar with the countless
                    indescribable forms of the insects and flies, then I feel
                    the presence of the Almighty, who formed us in his own
                    image, and the breath.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-super-half">
    <div class="row ">
            <h1>Proyectos relacionados</h1>
            <div class="row">
                {% for proyecto in site.proyectos reversed %}
                <div class="col-12 col-lg-6 mb-2">
                    <div class="card text-both-black background-both-yellow h-100 border-both-black">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <h2>{{ proyecto.title }}</h2>
                                    <p class="card-text">{{proyecto.summary}}</p>
                                    <p class="">
                                        <a href="{{ proyecto.url }}.html" class="stretched-link btn btn-dark">Ir al
                                            proyecto</a>
                                    </p>
                                </div>
                                <div class="col-3">
                                    {% include {{proyecto.thumbnail}} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

<div class="background-both-black text-both-yellow mt-super-half">
    <div class="container ">
        <div class="row">
            <div class="col-12 mt-super-half mb-super-half">
                <h1>Sigue la conversación en <a href="https://twitter.com/bothrocks" class="text-both-yellow"><i
                            class="bi bi-twitter me-2" style="font-size: 2rem; color:var(--both-yellow);"></i>Twitter</a>
                </h1>
                <p>Ius ut ridens officiis, congue ornatus delicata no
                    usu, vel ut simul dolore dissentiunt.</p>
            </div>
        </div>
    </div>
</div>
